%h1 Ranking

%table.table
  %thead
    %tr
      %th Pozycja
      %th Użytkownik
      %th Punkty
      %th Dobre odpowiedzi
      %th Złe odpowiedzi
      %th Poprawność
  %tbody
    - @users.each_with_index do |user, i|
      %tr
        %td= i + 1
        %td= user.name
        %td= user.stat.points
        %td= user.stat.good_count
        %td= user.stat.bad_count
        %td= correctness(user.stat.good_count, user.stat.bad_count)
