- title "Edytuj profil"
.row
  .col-md-4
    %h1
      Edytuj profil
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, required: true, autofocus: true, label: "Nazwa użytkownika"
        = f.input :email, required: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password, autocomplete: "off", hint: "zostaw to pole puste, jeśli nie chcesz zmieniać hasła", required: false
        = f.input :password_confirmation, required: false
        = f.input :current_password, hint: "potrzebujemy twojego aktualnego hasła, aby zapisać zmiany", required: true
      .form-actions
        = f.button :submit, "Zapisz zmiany", class: 'btn-primary'
      %br/
    / %h3 Cancel my account
    / %p
    /   Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    / = link_to "Wróć", :back
