- title "Rejestracja"
.row
  .col-md-4
    %h1 Rejestracja
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :name, "Nazwa użytkownika"
        %br/
        = f.text_field :name,  {:class => 'form-control', autofocus: true}
      .field
        = f.label :email
        %br/
        = f.email_field :email, {:class => 'form-control'}
      .field
        = f.label :password, "Hasło"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, {:class => 'form-control', autocomplete: 'off' }
      .field
        = f.label :password_confirmation, "Potwierdź hasło"
        %br/
        = f.password_field :password_confirmation, {:class => 'form-control', autocomplete: 'off' }
        %br/
      .actions
        = f.submit "Zarejestruj się", { :class => 'btn btn-primary'}
    = render "devise/shared/links"
