-title "Nauka słówek"
.row
  .col-md-6.col-md-offset-3.text-center.top-buffer
    - if params[:typing] == "true"
      .type-game
        = simple_form_for :word, url: games_check_path, method: :get, remote: true do |f|
          = f.input :pl, :as => :hidden, input_html: { value: @question_word.pl }
          %h1#correct_answer_is= @question_word.pl
          = f.input :en,  input_html: { autofocus: true, autocomplete: 'off' }, label: false
          = f.button :submit, "Sprawdź", class:  "btn-lg btn-primary"
    - else
      %h1= @question_word.pl
      / %p
      /   = link_to @question_word.pl, word_path(@question_word.id), {:class=>"word btn btn-primary btn-lg", :target => "_blank@"}
      %p
        = render 'correctness_bar'
      #loading 
        = image_tag('loading.gif')
      #error-loading 
      .show-answers
        %button.btn.btn-default.btn-lg{:type => "button", :id => 'show_answers'} Pokaż odpowiedzi
      .answers
        - @words.each do |word|
          = link_to word, games_check_path(en: "#{word}", pl: "#{@question_word.pl}", time: Time.now.to_i), {:remote => true, 'data-word' => "#{word}", :method => :get, :class=>"word btn btn-default btn-lg"}
    -if user_signed_in?
      %br/
      %span.label.label-default
        Twój wynik:
        = current_user.stat.points
        (
        = current_user.rank
        )
    - unless user_signed_in?
      .well.well-sm.top-buffer
        = link_to "Zaloguj się", new_user_session_path
        lub
        = link_to "załóż konto", new_user_registration_path
        aby śledzić swoje statystyki, które pojawią się w tabeli poniżej.
    - else
      .well.well-sm.top-buffer
        Pomóż nam rozwijać serwis
        = link_to "dodając nowe słówka.", new_word_path   
.row
  .col-md-6
    %h3
      Statystyki
    %table.table.table-bordered.text-center
      %thead
        %tr
          %th.text-center Kto?
          %th.text-center Dobre odpowiedzi
          %th.text-center Złe odpowiedzi
          %th.text-center Poprawność
      %tbody
        - if current_user
          %tr
            %td Ja
            %td{:id => 'my_good_count' }= my_stats.good_count
            %td{:id => 'my_bad_count' }= my_stats.bad_count
            %td= correctness(my_stats.good_count, my_stats.bad_count)
        %tr
          %td
            %span{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Liczą się tylko odpowiedzi zarejestrowanych użytkowników."}
              Ogółem
          %td= all_good_count
          %td= all_bad_count
          %td= correctness(all_good_count, all_bad_count)   
  .col-md-3
    %h3 Opcje
    %p Jak chcesz udzielać odpowiedzi?
    .form-group
      %select#select-game-option.form-control{:onchange => "this.options[this.selectedIndex].value  (window.location = this.options[this.selectedIndex].value);"}
        %option{:value => root_path, :selected => params[:typing] == ""}
          Chcę wybierać
        %option{:value => root_path(:typing => "true"), :selected => params[:typing] == "true"}
          Chcę wpisywać
    = link_to "Sprawdź dodatkowe ustawienia", settings_path
  .col-md-3
    %h3 Wybierz kategorię
    .form-group
      %select#select-category.form-control{:onchange => "this.options[this.selectedIndex].value  (window.location = this.options[this.selectedIndex].value);"}
        %option{:value => root_path} Wszystkie
        - if user_signed_in?
          %option{:value => root_path(:category => 'Moje słówka'), :selected => params[:category] == "Moje słówka"} Moje słówka
        - categories.each do |category|
          %option{:value => root_path(:category => category.name), :selected => params[:category] == category.name}= category.name      
- if current_user && current_user.setting.hide_show_answers_button
  :javascript
    $(document).ready(function(){ 
        $("#show_answers").hide();
        $(".answers").show();
    });
- else
  :javascript
    $(document).ready(function(){
        $( "#show_answers" ).click(function() {
          $( ".answers" ).show();
          $(this).remove();
        });
    });
