%table.table
  %thead
    %tr
      %th Angielski
      %th Polski
      %th Przyciski
      %th Dobre tłumaczenie
      %th Złe tłumaczenie
      %th Zweryfikowane
  %tbody
    - @words.each do |word|
      %tr
        %td= word.en
        %td= word.pl


        %td
          = link_to 'Pokaż', word
          - if current_user == word.user
            |
            = link_to 'Edytuj', edit_word_path(word) 
            |
            = link_to 'Usuń', word, method: :delete, data: { confirm: 'Are you sure?' }

        %td
          = word.get_upvotes.size 
          = link_to 'Dobre tłumaczenie', upvote_word_path(word.id)
        %td
          = word.get_downvotes.size
          = link_to 'Złe tłumaczenie', downvote_word_path(word.id)
        %td= word.verified ? 'Tak' : 'Nie'
= will_paginate @words, renderer: BootstrapPagination::Rails
