%h1 Gra
%p.word= @word.try(:pl)
%p.word.blurry-text= @word.try(:en)

= form_tag game_path, :method => 'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil