- title "Lista słówek"
%h1 Lista słówek

= render 'words'

%br/
= link_to 'Dodaj słówko', new_word_path, {:class => 'btn btn-default'}
%br/
%br/

- if current_user.try(:admin?)
  %h4 Importuj słówka
  = form_tag import_words_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Importuj CSV"

