- title "#{@word.pl} po angielsku to #{@word.en}"
%h1= @word.en

%h2= @word.pl

%p
  %strong Dodane przez:
  = @word.user.name
= link_to 'Edit', edit_word_path(@word)
|
= link_to 'Back', words_path

%br/
Dobre tłumaczenie:
= @word.get_upvotes.size 
%br/
Złe tłumaczenie:
= @word.get_downvotes.size 
%br/
- if can? :create, @comment
  = render 'comments/form'
  %h3 
    Komentarze (
    = @word.comments.count
    )
  - @word.comments.each do |comment|
    = render comment

  
