- title "#{@word.pl} po angielsku to #{@word.en}"
%h1= @word.en

%h2= @word.pl

%p
  %strong Dodane przez:
  = @word.user.name
= link_to 'Edit', edit_word_path(@word)
|
= link_to 'Back', words_path

= link_to 'Dobre tłumaczenie', upvote_word_path
%br/
= link_to 'Złe tłumaczenie', downvote_word_path
%br/
Dobre tłumaczenie:
= @word.get_upvotes.size 
%br/
Złe tłumaczenie:
= @word.get_downvotes.size 
%br/
= commontator_thread(@word)

