.page-header
  %h1 
    = link_to 'Angi.pl', root_path
    %small Nauka słówek online
- flash.each do |key, value|
  %div{:class => "alert alert-#{key}= value"}
%ul.nav.nav-pills
  %li= link_to 'Start', game_path
  %li= link_to 'Lista słówek', words_path
  - if user_signed_in?
    %li
      = link_to('Wyloguj się', destroy_user_session_path, :method => :delete)
  - else
    %li
      = link_to('Logowanie', new_user_session_path)

  - if user_signed_in?
    %li
      = link_to('Edytuj profil', edit_user_registration_path)
  - else
    %li
      = link_to('Rejestracja', new_user_registration_path)